@{
    ViewBag.Title = "现金赎楼";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Css/JinRongMobile/cash-redemption-floor.css" rel="stylesheet" />

<div class="layui-container">

    <!--顶部banner-->
    <div class="layui-row">
        <div class="layui-col-xs12 banner crf-banner">

        </div>
    </div>


    <!--优势-->
    <div class="layui-row">
        <ul class="layui-row crf-advantage">
            <!--专业人员-->
            <li>
                <span>专业人员</span>
            </li>
            <!--流程简单-->
            <li>
                <span>流程简单</span>
            </li>
            <!--安全高效-->
            <li>
                <span>安全高效</span>
            </li>
        </ul>
    </div>


    <!--定义（标题）-->
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div class="layui-col-xs6 title-section">
                <!--竖线-->
                <div class="layui-col-xs1">
                    <div class="vertical-bar"></div>
                </div>
                <!--标题-->
                <div class="layui-col-xs11">
                    <span class="title">定义</span>
                </div>
            </div>
        </div>
    </div>
    <!--定义-->
    <div class="layui-row">
        <div class="layui-col-xs12 textbox">
            <p>“现金赎楼”是指对业主发放的过渡性短期贷款，主要用于结清原抵押贷款，用新的抵押贷款偿还赎楼款。</p>
        </div>
    </div>


    <!--服务案例（标题）-->
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div class="layui-col-xs6 title-section">
                <!--竖线-->
                <div class="layui-col-xs1">
                    <div class="vertical-bar"></div>
                </div>
                <!--标题-->
                <div class="layui-col-xs11">
                    <span class="title">服务案例</span>
                </div>
            </div>
        </div>
    </div>
    <!--服务案例-->
    <div class="layui-row">
        <div class="layui-col-xs12 crf-service-case">
            <div class="layui-row layui-col-xs12">
                <div class="layui-col-xs2 xiaozhao-imgbox">
                    <img src="~/Images/JinRongMobile/cash-redemption-floor/xiaozhao.png" />
                </div>
                <div class="layui-col-xs4">
                    <span>小赵</span>
                    <p>公司老板</p>
                </div>
            </div>
            <div class="layui-row layui-col-xs12">
                <p>（甲方）小赵名下房产欠A银行800万，现在房产市值1500万，需资金周转，小赵到B银行申请贷款1000万。小赵需要找担保公司把A银行的欠款结清，再在A银行取房产证然后去国土局办理注销和抵押给B银行，新贷款银行大概3个工作日放款；担保公司回款800万。</p>
            </div>
        </div>
    </div>


    <!--办理流程（标题）-->
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div class="layui-col-xs6 title-section">
                <!--竖线-->
                <div class="layui-col-xs1">
                    <div class="vertical-bar"></div>
                </div>
                <!--标题-->
                <div class="layui-col-xs11">
                    <span class="title">办理流程</span>
                </div>
            </div>
        </div>
    </div>
    <!--办理流程-->
    <div class="layui-row">
        <ul class="layui-col-xs12 crf-process">
            <!--在线申请-->
            <li>
                <img src="~/Images/JinRongMobile/cash-redemption-floor/zaixianshenqing.png" />
                <p>在线申请</p>
            </li>
            <!--右箭头-->
            <li>
                <img src="~/Images/JinRongMobile/cash-redemption-floor/youjiantou.png" />
            </li>
            <!--提交资料-->
            <li>
                <img src="~/Images/JinRongMobile/cash-redemption-floor/tijiaoziliao.png" />
                <p>提交资料</p>
            </li>
            <!--右箭头-->
            <li>
                <img src="~/Images/JinRongMobile/cash-redemption-floor/youjiantou.png" />
            </li>
            <!--审核放款-->
            <li>
                <img src="~/Images/JinRongMobile/cash-redemption-floor/shenhefangkuan.png" />
                <p>审核放款</p>
            </li>
        </ul>
    </div>

</div>

<!--底部按钮-->
<div class="layui-row">
    <div class="layui-col-xs12 layui-btn-group bottom">
        <!--咨询电话-->
        <button type="button" class="layui-btn layui-col-xs6 layui-btn-primary">
            <a href="tel:0755-82720584">
                <img src="~/Images/JinRongMobile/cash-redemption-floor/dianhua.png" />
                <span>咨询电话</span>
            </a>
        </button>
        <!--立即申请-->
        <button type="button" class="layui-btn layui-col-xs6 layui-btn-normal">
            <img src="~/Images/JinRongMobile/cash-redemption-floor/lijishenqing.png" />
            <span>立即申请</span>
        </button>
    </div>
</div>
