@{
    ViewBag.Title = "代办过户";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Css/JinRongMobile/charge-transfer.css" rel="stylesheet" />

<div class="layui-container">

    <!--顶部banner-->
    <div class="layui-row">
        <div class="layui-col-xs12 banner ct-banner">

        </div>
    </div>


    <!--产品信息（标题）-->
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div class="layui-col-xs6 title-section">
                <!--竖线-->
                <div class="layui-col-xs1">
                    <div class="vertical-bar"></div>
                </div>
                <!--标题-->
                <div class="layui-col-xs11">
                    <span class="title">产品信息</span>
                </div>
            </div>
        </div>
    </div>
    <!--产品信息-->
    <div class="layui-row">
        <div class="layui-col-xs12 textbox">
            <p>所谓的代办房产过户服务就是在二手房交易中，交易双方委托第三方公司协助办理房屋过户，规避交易过程中的一些风险，达成最终的成交，服务截止至交易双方房屋交接。</p>
        </div>
    </div>


    <!--我们的优势？（标题）-->
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div class="layui-col-xs6 title-section">
                <!--竖线-->
                <div class="layui-col-xs1">
                    <div class="vertical-bar"></div>
                </div>
                <!--标题-->
                <div class="layui-col-xs11">
                    <span class="title">我们的优势</span>
                </div>
            </div>
        </div>
    </div>
    <!--我们的优势-->
    <div class="layui-row">
        <!--第一行-->
        <ul class="layui-row ct-advantage">
            <li>
                <span>收费明确、透明</span>
            </li>
            <li>
                <span>交易流程规范清晰</span>
            </li>
        </ul>
        <!--第二行-->
        <ul class="layui-row ct-advantage">
            <li>
                <span>安全有保障</span>
            </li>
            <li>
                <span>专心、省事、省心</span>
            </li>
        </ul>
        <!--第三行-->
        <div class="layui-row layui-col-xs12 ct-fuwu">
            <span>一条龙服务,快捷完成所有流程</span>
        </div>
    </div>


    <!--为什么选择我们（标题）-->
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div class="layui-col-xs6 title-section">
                <!--竖线-->
                <div class="layui-col-xs1">
                    <div class="vertical-bar"></div>
                </div>
                <!--标题-->
                <div class="layui-col-xs11">
                    <span class="title">为什么选择我们</span>
                </div>
            </div>
        </div>
    </div>
    <!--为什么选择我们-->
    <div class="layui-row">
        <div class="layui-col-xs12 textbox">
            <p>因为有的人不了解具体的过户流程手续，而且过户手续繁杂，所以为了省时、省心、省力都会选择一个靠谱且专业的公司来办理过户手续。“誉成投资”专门为客户提供房产过户的一站式专业解决方案。</p>
        </div>
    </div>


    <!--办理流程（标题）-->
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div class="layui-col-xs6 title-section">
                <!--竖线-->
                <div class="layui-col-xs1">
                    <div class="vertical-bar"></div>
                </div>
                <!--标题-->
                <div class="layui-col-xs11">
                    <span class="title">办理流程</span>
                </div>
            </div>
        </div>
    </div>
    <!--办理流程-->
    <div class="layui-row">
        <div class="layui-col-xs12 ct-process">
            <div><span>01</span><p>接受咨询产权相关问题</p></div>
            <div><span>02</span><p>代理,签署二手居间合同</p></div>
            <div><span>03</span><p>办理银行按揭贷款手续</p></div>
            <div><span>04</span><p>产权登记中心转移过户</p></div>
            <div><span>05</span><p>水电过户手续</p></div>
        </div>
    </div>

</div>

<!--底部按钮-->
<div class="layui-row">
    <div class="layui-col-xs12 layui-btn-group bottom">
        <!--咨询电话-->
        <button type="button" class="layui-btn layui-col-xs6 layui-btn-primary">
            <a href="tel:0755-82720584">
                <img src="~/Images/JinRongMobile/charge-transfer/dianhua.png" />
                <span>咨询电话</span>
            </a>
        </button>
        <!--立即申请-->
        <button type="button" class="layui-btn layui-col-xs6 layui-btn-normal">
            <img src="~/Images/JinRongMobile/charge-transfer/lijishenqing.png" />
            <span>立即申请</span>
        </button>
    </div>
</div>
