@{
    ViewBag.Title = "按揭贷款";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Css/JinRongMobile/mortgage-loan.css" rel="stylesheet" />

<div class="layui-container">

    <!--顶部banner-->
    <div class="layui-row">
        <div class="layui-col-xs12 banner ml-banner">

        </div>
    </div>


    <!--我们的优势？（标题）-->
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div class="layui-col-xs6 title-section">
                <!--竖线-->
                <div class="layui-col-xs1">
                    <div class="vertical-bar"></div>
                </div>
                <!--标题-->
                <div class="layui-col-xs11">
                    <span class="title">我们的优势</span>
                </div>
            </div>
        </div>
    </div>
    <!--我们的优势-->
    <div class="layui-row">
        <!--第一行-->
        <ul class="layui-row ml-advantage">
            <li>
                <span>银行合作</span>
            </li>
            <li>
                <span>高效率</span>
            </li>
        </ul>
        <!--第二行-->
        <ul class="layui-row ml-advantage">
            <li>
                <span>利息低</span>
            </li>
            <li>
                <span>放款灵活</span>
            </li>
        </ul>
        <!--第三行-->
        <ul class="layui-row ml-advantage">
            <li>
                <span>额度高</span>
            </li>
            <li>
                <span>年限长</span>
            </li>
        </ul>
    </div>


    <!--产品信息（标题）-->
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div class="layui-col-xs6 title-section">
                <!--竖线-->
                <div class="layui-col-xs1">
                    <div class="vertical-bar"></div>
                </div>
                <!--标题-->
                <div class="layui-col-xs11">
                    <span class="title">产品信息</span>
                </div>
            </div>
        </div>
    </div>
    <!--产品信息-->
    <div class="layui-row">
        <div class="layui-col-xs12 textbox">
            <p>按揭贷款是指申请人以购房为目的，向银行申请贷款支付房款；金融机构根据客户个人情况确定银行，手续简单，放款快，利息低。</p>
        </div>
    </div>


    <!--办理流程（标题）-->
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div class="layui-col-xs6 title-section">
                <!--竖线-->
                <div class="layui-col-xs1">
                    <div class="vertical-bar"></div>
                </div>
                <!--标题-->
                <div class="layui-col-xs11">
                    <span class="title">办理流程</span>
                </div>
            </div>
        </div>
    </div>
    <!--办理流程-->
    <div class="layui-row">
        <div class="layui-col-xs12 ml-process">
            <div class="ml-liucheng1">准备资料</div>
            <div class="ml-liucheng2">向银行提出申请</div>
            <div class="ml-liucheng3">批贷后抵押</div>
            <div class="ml-liucheng4">送他项</div>
            <div class="ml-liucheng5">放款</div>
        </div>
    </div>

</div>

<!--底部按钮-->
<div class="layui-row">
    <div class="layui-col-xs12 layui-btn-group bottom">
        <!--咨询电话-->
        <button type="button" class="layui-btn layui-col-xs6 layui-btn-primary">
            <a href="tel:0755-82720584">
                <img src="~/Images/JinRongMobile/mortgage-loan/dianhua.png" />
                <span>咨询电话</span>
            </a>
        </button>
        <!--立即申请-->
        <button type="button" class="layui-btn layui-col-xs6 layui-btn-normal">
            <img src="~/Images/JinRongMobile/mortgage-loan/lijishenqing.png" />
            <span>立即申请</span>
        </button>
    </div>
</div>
