@{
    ViewBag.Title = "红本抵押";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Css/JinRongMobile/red-mortgage.css" rel="stylesheet" />

<div class="layui-container">

    <!--顶部banner-->
    <div class="layui-row">
        <div class="layui-col-xs12 banner rm-banner">

        </div>
    </div>


    <!--优势-->
    <div class="layui-row">
        <!--第一行-->
        <ul class="layui-row rm-advantage">
            <!--审批宽松-->
            <li>
                <span>审批宽松</span>
                <p>风控易沟通</p>
            </li>
            <!--额度高-->
            <li>
                <span>额度高</span>
                <p>高达8成</p>
            </li>
        </ul>
        <!--第二行-->
        <ul class="layui-row rm-advantage">
            <!--资金雄厚-->
            <li>
                <span>资金雄厚</span>
                <p>还款方式灵活</p>
            </li>
            <!--高效便捷-->
            <li>
                <span>高效便捷</span>
                <p>24小时放款</p>
            </li>
        </ul>
    </div>


    <!--产品信息（标题）-->
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div class="layui-col-xs6 title-section">
                <!--竖线-->
                <div class="layui-col-xs1">
                    <div class="vertical-bar"></div>
                </div>
                <!--标题-->
                <div class="layui-col-xs11">
                    <span class="title">产品信息</span>
                </div>
            </div>
        </div>
    </div>
    <!--产品信息-->
    <div class="layui-row">
        <div class="layui-col-xs12 textbox">
            <p>红本抵押贷款是指房产权利人以产权清晰完整的房产作为抵押物，向我司申请贷款，用于各种消费、资金周转和经营性用途的业务。</p>
        </div>
    </div>


    <!--申请条件（标题）-->
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div class="layui-col-xs6 title-section">
                <!--竖线-->
                <div class="layui-col-xs1">
                    <div class="vertical-bar"></div>
                </div>
                <!--标题-->
                <div class="layui-col-xs11">
                    <span class="title">申请条件</span>
                </div>
            </div>
        </div>
    </div>
    <!--申请条件-->
    <div class="layui-row">
        <div class="layui-col-xs12 rm-textbox">
            <p>1.商品房、别墅、写字楼、公寓即可</p>
            <p>2.借款人年龄：18~65岁</p>
        </div>
    </div>


    <!--准备资料（标题）-->
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div class="layui-col-xs6 title-section">
                <!--竖线-->
                <div class="layui-col-xs1">
                    <div class="vertical-bar"></div>
                </div>
                <!--标题-->
                <div class="layui-col-xs11">
                    <span class="title">准备资料</span>
                </div>
            </div>
        </div>
    </div>
    <!--准备资料-->
    <div class="layui-row">
        <div class="layui-col-xs12 rm-textbox">
            <p>1.身份证、户口本</p>
            <p>2.婚姻证明（已婚提供结婚证明，离婚提供离婚协议)</p>
            <p>3.配偶身份证（已婚提供)</p>
            <p>4.房产证复印件</p>
            <p>5.借款人最近半年银行流水</p>
        </div>
    </div>


    <!--办理流程（标题）-->
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div class="layui-col-xs6 title-section">
                <!--竖线-->
                <div class="layui-col-xs1">
                    <div class="vertical-bar"></div>
                </div>
                <!--标题-->
                <div class="layui-col-xs11">
                    <span class="title">办理流程</span>
                </div>
            </div>
        </div>
    </div>
    <!--办理流程-->
    <div class="layui-row">
        <ul class="layui-col-xs12 rm-process">
            <!--在线申请-->
            <li>
                <img src="~/Images/JinRongMobile/red-mortgage/zaixianshenqing.png" />
                <p>在线申请</p>
            </li>
            <!--右箭头-->
            <li>
                <img src="~/Images/JinRongMobile/red-mortgage/youjiantou.png" />
            </li>
            <!--提交资料-->
            <li>
                <img src="~/Images/JinRongMobile/red-mortgage/tijiaoziliao.png" />
                <p>提交资料</p>
            </li>
            <!--右箭头-->
            <li>
                <img src="~/Images/JinRongMobile/red-mortgage/youjiantou.png" />
            </li>
            <!--审核放款-->
            <li>
                <img src="~/Images/JinRongMobile/red-mortgage/shenhefangkuan.png" />
                <p>审核放款</p>
            </li>
        </ul>
    </div>

</div>

<!--底部按钮-->
<div class="layui-row">
    <div class="layui-col-xs12 layui-btn-group bottom">
        <!--咨询电话-->
        <button type="button" class="layui-btn layui-col-xs6 layui-btn-primary">
            <a href="tel:0755-82720584">
                <img src="~/Images/JinRongMobile/red-mortgage/dianhua.png" />
                <span>咨询电话</span>
            </a>
        </button>
        <!--立即申请-->
        <button type="button" class="layui-btn layui-col-xs6 layui-btn-normal">
            <img src="~/Images/JinRongMobile/red-mortgage/lijishenqing.png" />
            <span>立即申请</span>
        </button>
    </div>
</div>
