@{
    ViewBag.Title = "交易赎楼";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Css/JinRongMobile/trading-foreclosure-floor.css" rel="stylesheet" />

<div class="layui-container">

    <!--顶部banner-->
    <div class="layui-row">
        <div class="layui-col-xs12 banner tff-banner">

        </div>
    </div>


    <!--优势-->
    <div class="layui-row">
        <ul class="layui-row tff-advantage">
            <!--专业人员-->
            <li>
                <span>专业人员</span>
            </li>
            <!--流程简单-->
            <li>
                <span>流程简单</span>
            </li>
            <!--安全高效-->
            <li>
                <span>安全高效</span>
            </li>
        </ul>
    </div>


    <!--定义（标题）-->
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div class="layui-col-xs6 title-section">
                <!--竖线-->
                <div class="layui-col-xs1">
                    <div class="vertical-bar"></div>
                </div>
                <!--标题-->
                <div class="layui-col-xs11">
                    <span class="title">定义</span>
                </div>
            </div>
        </div>
    </div>
    <!--定义-->
    <div class="layui-row">
        <div class="layui-col-xs12 textbox">
            <p>“交易赎楼”是指针对已达成交易的业主（卖方）发放的过渡性短期贷款用于结清原抵押贷款，以促成交易完成，用售房款偿还。</p>
        </div>
    </div>


    <!--服务案例（标题）-->
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div class="layui-col-xs6 title-section">
                <!--竖线-->
                <div class="layui-col-xs1">
                    <div class="vertical-bar"></div>
                </div>
                <!--标题-->
                <div class="layui-col-xs11">
                    <span class="title">服务案例</span>
                </div>
            </div>
        </div>
    </div>
    <!--服务案例-->
    <div class="layui-row">
        <div class="layui-col-xs12 tff-service-case">
            <div class="layui-row layui-col-xs12">
                <div class="layui-col-xs2 xiaowang-imgbox">
                    <img src="~/Images/JinRongMobile/trading-foreclosure-floor/xiaowang.png" />
                </div>
                <div class="layui-col-xs4">
                    <span>小王</span>
                    <p>某某公司经理</p>
                </div>
            </div>
            <div class="layui-row layui-col-xs12">
                <p>小汪拥有深圳合正园5A的房产，在A银行欠款220万元，小汪欲转卖该房产，买方为李小姐，采用的方式为一次性付款方式，成交价为人民币580万元，首期款58万元已交业主汪小姐，并且陈小姐在招商银行做了522万元资金监管，现卖方需向我司申请借款赎楼。</p>
            </div>
        </div>
    </div>


    <!--办理流程（标题）-->
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div class="layui-col-xs6 title-section">
                <!--竖线-->
                <div class="layui-col-xs1">
                    <div class="vertical-bar"></div>
                </div>
                <!--标题-->
                <div class="layui-col-xs11">
                    <span class="title">办理流程</span>
                </div>
            </div>
        </div>
    </div>
    <!--办理流程-->
    <div class="layui-row">
        <ul class="layui-col-xs12 tff-process">
            <!--在线申请-->
            <li>
                <img src="~/Images/JinRongMobile/trading-foreclosure-floor/zaixianshenqing.png" />
                <p>在线申请</p>
            </li>
            <!--右箭头-->
            <li>
                <img src="~/Images/JinRongMobile/trading-foreclosure-floor/youjiantou.png" />
            </li>
            <!--提交资料-->
            <li>
                <img src="~/Images/JinRongMobile/trading-foreclosure-floor/tijiaoziliao.png" />
                <p>提交资料</p>
            </li>
            <!--右箭头-->
            <li>
                <img src="~/Images/JinRongMobile/trading-foreclosure-floor/youjiantou.png" />
            </li>
            <!--审核放款-->
            <li>
                <img src="~/Images/JinRongMobile/trading-foreclosure-floor/shenhefangkuan.png" />
                <p>审核放款</p>
            </li>
        </ul>
    </div>

</div>

<!--底部按钮-->
<div class="layui-row">
    <div class="layui-col-xs12 layui-btn-group bottom">
        <!--咨询电话-->
        <button type="button" class="layui-btn layui-col-xs6 layui-btn-primary">
            <a href="tel:0755-82720584">
                <img src="~/Images/JinRongMobile/trading-foreclosure-floor/dianhua.png" />
                <span>咨询电话</span>
            </a>
        </button>
        <!--立即申请-->
        <button type="button" class="layui-btn layui-col-xs6 layui-btn-normal">
            <img src="~/Images/JinRongMobile/trading-foreclosure-floor/lijishenqing.png" />
            <span>立即申请</span>
        </button>
    </div>
</div>
