
@{
    ViewBag.Title = "JinRongMobile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Scripts/layui-v2.5.6/css/layui.css" rel="stylesheet" />
<link href="~/Css/JinRongMobile/index.css" rel="stylesheet" />

<form id="form1" class="layui-form">
    <div class="layui-row layui-col-space5">
        <div class="layui-col-xs3">
            <img src="~/Images/JinRongMobile/city.jpg" />
        </div>
        <div class="layui-col-xs3">
            <img src="~/Images/JinRongMobile/city.jpg" />
        </div>
        <div class="layui-col-xs3">
            <img src="~/Images/JinRongMobile/city.jpg" />
        </div>
        <div class="layui-col-xs3">
            <img src="~/Images/JinRongMobile/city.jpg" />
        </div>
    </div>
</form>


